body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Sacramento', cursive, sans-serif;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1820770/pexels-photo-1820770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  overflow-y: auto;
}

.loader {
  margin-top: 35vh;
}

.animelist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.upper-container {
  padding: 0 70px;
  max-width: 1200px;
  margin: auto;
}

.filter-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.filter-button {
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to left,#72d0ff,#4DA8DA );
  box-shadow: 0 0 15px rgb(0, 140, 255);
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.filter-button:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255),
              0 0 25px rgb(0, 140, 255),
              0 0 50px rgb(0, 140, 255),
              0 0 100px rgb(0, 140, 255);
}

.description {
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  color: #15F5BA;
  font-size: 20px;
  font-family: Helvetica Now;
}

.glow {
  color: #fff6a9;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
               0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 4s infinite;
}

@keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }

  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
                 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

/* search bar */

/* From Uiverse.io by boryanakrasteva */ 
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  background-color: #7e4fd4;
  box-shadow: 0px 0px 3px #f3f3f3;
  color: #fff;
  text-align: center;
  transition: width 0.5s ease, border-radius 0.5s ease;
}

.input::placeholder {
  color: #ccc;
  opacity: 0; /* Hide placeholder initially */
  transition: opacity 0.3s ease;
}

.input:focus::placeholder {
  opacity: 1;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* On focus, expand input field */
.input:focus {
  width: 250px;
  border-radius: 10px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  text-align: left;
}
/* Hide icon when input is focused */
.input:focus ~ .icon {
  display: none;
}




@keyframes appear {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.block{
  animation:  appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.filter-button-previous{
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  margin-bottom: 20px;
  margin-left: 30px;
}

.header{
  text-align: center;
}

.view{
  text-align: center;
}

.pagination-buttons{
  text-align: center;
}