.each-anime-item-container {
  margin-left: 5%;
  list-style: none;
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  padding: 0.1%;
  text-decoration: none;
}

.anime-card {
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-container {
  height: 380px;
  width: 100%;
  aspect-ratio: 2/3;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 3px solid rgb(126, 157, 23);
}

.title-container {
  white-space: nowrap;
  overflow: hidden;
  width: 60%;
  text-overflow: ellipsis;
  text-align: start;
  margin-top: 14px;
}

.name {
  margin-top: 1px;
  text-align: start;
  color: rgb(251, 251, 251);
  text-overflow: ellipsis;
  font-size: 18px;
}

.year {
  margin-top: 15px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
